.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    gap: 200px;
    display: flex;
    padding: 20px;
}

.navbar .logo {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.navbar .nav {
    display: flex;
    gap: 80px;
}

.navbar .nav li {
    cursor: pointer;
    list-style: none;
    font-size: 24px;
}